<app-top-bar></app-top-bar>
<div style="width: 100%; height: 100%;">
  <div *ngIf="product" style="width: 100%;">
    <table class="table" style="width: 100%;">
      <thead>
        <th colspan="2">
          <h1>{{ product.name }}</h1>
        </th>
      </thead>
      <thead>
        <th colspan="2">
          <div *ngIf="product.image">
            <img src={{product.image}}>
          </div>
        </th>
      </thead>
      <thead>
        <th scope="col" style="width: 50%;">
          <p>{{ product.description }}</p>
        </th>
        <th scope="col" style="width: 50%;">
          <h4>Price: {{ product.price | currency }}</h4>
          <button (click)="addToCart(product)">Buy</button>
        </th>
      </thead>
    </table>
  </div>
</div>

