<div class="top-bar">
  <button class="bar-button" routerLink="/home">Home</button>
  <button class="bar-button" routerLink="/products">Products</button>
  <button class="bar-button" routerLink="/about">About</button>
  <button class="bar-button" routerLink="/cart" style="right: 0; position: absolute;" (mouseover)="tempoCart(true)" (mouseout)="tempoCart(false)">Checkout</button>
  <div *ngIf="tempCart" style="position: absolute; right: 10px; top: 40px; width: 400px; height: 400px; background-color:blanchedalmond; border-radius: 5px; border-style: groove; overflow: scroll;" >
    <div *ngFor="let item of items" style="width: 100%; height: 100px;">
      <div style="display: inline-flex; align-items: center;">
        <p style="margin-right: 10px; margin-left: 10px;">
          {{ item.name }}
        </p>
        <p style="margin-right: 10px;">
          <img src={{item.image}} width="auto" height="100px">
        </p>
        <p style="margin-right: 10px;">
          Amount: {{ item.amount }}
        </p>
        <p>
          Price: {{ item.price * item.amount | currency}}
        </p>
      </div>
    </div>
  </div>
</div>
