<div class="top-bar">
  <button class="bar-button" routerLink="/home">Home</button>
  <button class="bar-button" routerLink="/products">Products</button>
  <button class="bar-button" routerLink="/about">About</button>
  <div class="dropdown" style="position: absolute; right: 10px;">
    <button class="dropbtn bar-button" routerLink="/cart">Checkout</button>
		<div class="dropdown-content dropdown-menu-right dropdown-menu">
      <div>link1</div>
      <div>link2</div>
      <div>link3</div>
    </div>
  </div>
</div>
