/* You can add global styles to this file, and also import other style files */
body{
  height: 100%;
  width: 100%;
  margin: 0;
  background-image:  linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("assets/images/background.jpg");
  opacity: 1;
}
